doctype 5
html
  head
    script(src='http://localhost:8080/socket.io/socket.io.js')
    script(src='./client.js')
  body
    <canvas id="board" width="300" height="300" style="border:1px solid black"></canvas>

